$TTL 86400
@       IN      SOA     ns1.localnet. admin.localnet. (
                        2024031401      ; Serial
                        3600            ; Refresh
                        1800            ; Retry
                        604800          ; Expire
                        86400 )         ; Minimum TTL

        IN      NS      ns1.localnet.
        IN      A       127.0.0.1

ns1     IN      A       127.0.0.1

example IN      A       192.0.2.1
        IN      AAAA    2001:db8::1

